@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-cinzel: "Cinzel", serif;
}

@layer base {
  :root {
    --background: #faf9f6;
    --foreground: #171717;
    --indian-maroon: #68050e;
    --indian-red: #8b0000;
    --indian-gold: #ce9c41;
    --indian-cream: #faf9f6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply selection:bg-[#ce9c41] selection:text-white;
}
